.Serial {
  padding: 1rem 0;
  .Serial-DropDown {
    margin-right: 2rem;
    button {
      width: 10rem;
      justify-content: space-between;
    }
  }

  .Connect-Button {
    margin-right: 0.5rem;
  }

  .Disable-Button {
    &:active,
    &:hover,
    &:focus {
      background-color: transparent !important;
      box-shadow: none !important;
      color: #ffdd57 !important;
    }
  }
}
