.Serial {
  padding: 1rem 0;
  .Serial-DropDown {
    margin-right: 2rem;
    button {
      width: 18rem;
      justify-content: space-between;
      font-size: 0.8rem;
    }

    .dropdown-content {
      width: 18rem;
      padding: 0;
    }

    .dropdown-item {
      font-size: 0.8rem;
      padding: 0 0.3rem;
    }
  }

  .Connect-Button {
    margin-right: 0.5rem;
    font-size: 0.8rem;
  }

  .Disable-Button {
    font-size: 0.8rem;
    &:active,
    &:hover,
    &:focus {
      background-color: transparent !important;
      box-shadow: none !important;
      color: #ffdd57 !important;
    }
  }
}
