.Debug-Console {
  margin-top: 1rem;

  .Console {
    samp {
      background: #000;
      border: 3px groove #ccc;
      color: #ccc;
      display: block;
      padding: 5px;
      font-size: 0.8rem;
    }
  }
}
