.App {
  display: flex;
  background-color: rgb(224, 206, 206);
  width: 100vw;
  height: 100vh;

  .Left-Container {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.274);
    width: 60%;

    h1 {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  .Right-Container {
    padding: 1rem;
    width: 40%;
    background-color: rgba(27, 155, 37, 0.274);
  }
}
